apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 5000        # internal cluster port
      targetPort: 5000  # container port
      nodePort: 30001   # external port to access in browser

